


.quote {
    background-color: limegreen;
    align-items: center;
    align-content: center;
    align-self:center ;
    border-radius : 0.5em;
    padding: 1em;
	margin-top:1em;
	width: 25em;
}
.content {
	margin: 1em 0 1em 0;
}

.quoteApp {
	margin: auto;
	width: 50%;
}